<!-- 
# Public: BOILERPLATE.erb
# A template to display around all user interaction on the front-end.
#
# Attributes:
# none
#
# Methods:
# none 
#
# Attributes:
# none
#
-->

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="refresh" CONTENT="20;URL=/times_up">
  <title>Slanguage :: The game to test your language swag</title>

  <link rel="stylesheet" href='/css/main.css'>

  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700italic' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic' rel='stylesheet' type='text/css'>

<script src="http://modernizr.com/downloads/modernizr-latest.js" type="text/javascript"></script>

 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script LANGUAGE="JavaScript">
<!--
var count=20;

var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

function timer()
{
  count=count-1;
  if (count <= 0)
  {
     clearInterval(counter);
     return;
  }

 document.getElementById("timer").innerHTML=count; // watch for spelling
}

// --></script>

</head>

<body>

</div>
<div class="navdiv">
<h1 class="tricks">SLANGUAGE</h1></div>
</br>
<h2 class="ticker" id="timer" style="color: red"></h2>
    <div>
  <h2>clue:</h2>

    <%= yield %>

  </div>
  <div class="navdiv">
    
      <input class ="navbutton" type="submit" value="Quit Game" onclick="startOver()" /></div>
</br>
</br>

<script LANGUAGE="JavaScript">
function blinker() {
    $('.ticker').fadeOut(250);
    $('.ticker').fadeIn(150);
}

setInterval(blinker, 1050);
</script>

<script type="text/javascript">
function goBack () {
history.go(-1);
return false;
}
</script>
</body>

  
<script type="text/javascript">
function goHome () {
window.location = '/'; 
return false;
}
</script>

<script type="text/javascript">
function startOver () {
window.location = '/welcome/'; 
return false;
}
</script>

<script type="text/javascript">
function Countdown(options) {
  var timer,
  instance = this,
  seconds = options.seconds || 10,
  updateStatus = options.onUpdateStatus || function () {},
  counterEnd = options.onCounterEnd || function () {};

  function decrementCounter() {
    updateStatus(seconds);
    if (seconds === 0) {
      counterEnd();
      instance.stop();
    }
    seconds--;
  }

  this.start = function () {
    clearInterval(timer);
    timer = 0;
    seconds = options.seconds;
    timer = setInterval(decrementCounter, 1000);
  };

  this.stop = function () {
    clearInterval(timer);
  };
}
</script>

<script type="text/javascript">
function goBack () {
window.location = '/';
return false;
}
</script>

</html>