<h2>To Win:</h2>
<p class='wrapit'>
	<ul>
  <li class='normal'>-study the image</li>
</br>
  <li class='normal'>-choose 5 correct answers in a row</li>
</ul>
</p>


<!--this will be the pop up box to sign in. not yet though! all the code is there for the popup, you just haven't learned
sessions yet -->
	 <!-- <div align="center"> <br><br><br><br> <a href="#loginScreen" class="signup">Click here to Log In</a>
	 </div>
	 <div id="loginScreen"> <a href="#" class="cancel">&times;</a>

		 <div>
		 	<p>Sign Up</p>

		<form>
			<input type="text"></input>
		</form>
		 </div>
	 </div>

	 <div id="cover" >
	 </div>  -->