
<h2>To Win:</h2>
<p class='wrapit'>
	<ul>
  <li class='normal'>-study the image</li>
</br>
  <li class='normal'>-choose 5 correct answers in a row</li>
</ul>
</p>

<!--this will be the pop up box to sign in. not yet though! all the code is there for the popup, you just haven't learned
sessions yet -->
   <div id="loginButton"><a href="#loginScreen" class="signup">Click here to Log In</a>
   </div>
