
<h2>To Win:</h2>
<p class='wrapit'>
	<ul>
  <li class='normal'>-study the image</li>
</br>
  <li class='normal'>-choose 5 correct answers in a row</li>
</ul>
<h4>not a member?</h4> <br/><br/>
</p>
<h4 id="proper"><a href="/signup/sign_up">click here</a><h4/>
<!--this will be the pop up box to sign in. not yet though! all the code is there for the popup, you just haven't learned
sessions yet -->
   <div id="loginButton"><a href="#loginScreen" class="signup">Click here to Log In</a>
   </div>
   

