<% if @logged_in == nil %>
<a href=""><img class="main" src="/images/car-driving-into-sunset.jpg"></a>

<%= "<h2>#{@username} you are signed out!</h2>" %>
            
<%= "<div id='loginButton'><a href='#loginScreen' class='signup'>Click here to Log In</a>
   </div>" %>
   
   <% else %>
   <a href=""><img class="main" src="/images/car-driving-into-sunset.jpg"></a>

   <%= "<h2>Not signed in!</h2>" %>
            
   <%= "<div id='loginButton'><a href='/sign_out' class='signup'>sign in</a></div>" %>
      <% end %>