<a href=""><img class="main" src="/images/car-driving-into-sunset.jpg"></a>

<%= "<h2>#{@username}, you are signed out!</h2>" %>
            <% if @logged_in == nil %>
<%= "   <div id='loginButton'><a href='#loginScreen' class='signup'>Click here to Log In</a>
   </div>" %>
   <% end %>