     <% @image_picker.each do |image| %>
     <a href=""><img class="main" src="<%= image.location %>"></a>
     <% end %>
<div class='align_stuff_left'>
<form action="/validate">
   <fieldset>

     <% @all_choices.each do |choice| %>
     <input type ="radio" name="answer" value="<%= choice.correct_answer %>">  <%= choice.text %>
<br />
     <% end %>
   </fieldset>
<br />
     <div class="centerButton"> <input class ="beginbutton" type="submit" value="Check Answer" /></div>
   </fieldset>
  
</form></div>