
<!DOCTYPE html>
<html>

<head>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta name="viewport" content="initial-scale=1.0">
  <title>Slanguage :: The game to test your swag</title>

  <link rel="stylesheet" href='/css/main.css'>

  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

</head>

<body>
	

<div class="navdiv">
<h1>SLANGUAGE</h1></div>
</br>

   <div id="loginScreeninvalid"> <a href="#" class="cancel">&times;</a>
   <div>
       <p>Sign In</p>

<p id="red">invalid username and/or password!</p>
    <form method="post" action="/submit">
      username:
      <br/>
      <input type="text" name="user"></input>
      <br/>
      password:
      <br/>
      <input type="password" name="password"></input>
      <br/><br/>
      <input class ="popUpButton" type="submit" value="Sign In"/></div>
      <br/>
          <h2>not a member? <br/><a href="/signup/sign_up">sign up</a><h2/>
    </form>

     </div>
   </div>
   <div id="coverinvalid" >
 </div>
 
   <div id="loginScreen"> <a href="#" class="cancel">&times;</a>
   <div>
       <p>Sign In</p>

    <form method="post" action="/submit">
      username:
      <br/>
      <input type="text" name="user"></input>
      <br/>
      password:
      <br/>
      <input type="password" name="password"></input>
      <br/><br/>
      <input class ="popUpButton" type="submit" value="Sign In"/></div>
      <br/>
          <% if @logged_in == nil %>
          <%= "<h2>not a member? <br/><a href='/signup/sign_up'>sign up</a><h2/>" %>
            <% end %>
    </form>

     </div>
   </div>
   <div id="cover" >
 </div>

    <div class='tight'>

  <a href=""><img class="main" src="/images/collage.png"></a>
  

    <%= yield %>

  </div>

      
</br>
</br>
</body>

<script>
function newDoc() {
  window.location.assign("/")
};
</script>

<script>
function signOut() {
  window.location.assign("/sign_out")
};
</script>

<script type="text/javascript">date_populate("date", "month", "year");</script>
<script type="text/javascript">
function goBack () {
history.go(-1);
return false;
}
</script>
  
<script type="text/javascript">
function goHome () {
window.location = '/begin'; 
return false;
}
</script>



</html>