<!-- 
# Public: BOILERPLATE.erb
# A template to display around all user interaction on the front-end.
#
# Attributes:
# none
#
# Methods:
# none 
#
# Attributes:
# none
#
-->

<!DOCTYPE html>
<html>

<!--note: the meta tag here redirects back to /begin route -->
<head>
  <meta http-equiv="refresh" CONTENT="10;URL=/">
  <title>Slanguage :: The game to test your swag</title>

  <link rel="stylesheet" href='/css/main.css'>

  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700italic' rel='stylesheet' type='text/css'>

</head>

<body class="winner">
  <div>
    <ul>
      <li><a href="/page1">about</a></li>

    </ul>
  </div>
</br>
<div class="navdiv">
<h1>SLANGUAGE</h1></div>
</br>
    <div class="tightdark">


    <%= yield %>

  </div>
  <div class="navdiv">
    
      <input class ="navbutton" type="submit" value="Restart" onclick="goHome()" /></div>
</br>
</br>
</body>


<script type="text/javascript">
function goHome () {
window.location = '/'; 
return false;
}
</script>


</html>